@model IEnumerable<ExpatManager.Models.ExpatriateDocumentUpload>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Expatriate ID
        </th>
        <th>
            File Name
        </th>
        <th>
            File Type
        </th>
        <th>
            File Size
        </th>
        <th>
            Modified Date Time
        </th>
        <th>
            Modified By
        </th>
        <th>
            Status
        </th>
        <th>
            Create Date Time
        </th>
        <th>
            CreateBy
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExpatriateID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileSize)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateBy)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExpatriateDocumentUploadID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExpatriateDocumentUploadID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExpatriateDocumentUploadID })
        </td>
    </tr>
}

</table>
