@model ExpatManager.Models.AgreementDetailDocumentUpload
@{
    ViewBag.Title = "Edit";
}
<h2>
    Edit</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Agreement Detail Document Upload</legend>
        <div class="span-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.CreateBy)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.FileName)
            </div>
        </div>
        <div class="span-8">
            <div class="editor-field">
                @Html.EditorFor(model => model.CreateBy)
                @Html.ValidationMessageFor(model => model.CreateBy)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.FileName)
                @Html.ValidationMessageFor(model => model.FileName)
            </div>
        </div>
        <div class="span-4">
            <div class="editor-label">
                @Html.LabelFor(model => model.CreateDateTime)
            </div>
        </div>
        <div class="span-8">
            <div class="editor-field">
                @Html.EditorFor(model => model.CreateDateTime)
                @Html.ValidationMessageFor(model => model.CreateDateTime)
            </div>
        </div>
    </fieldset>
    <p>
        <input type="submit" value="Save" />
        |
        @Html.ActionLink("Back to Agreement Details", "Details", "AgreementDetail", new { id = Model.AgreementDetailID }, null)
    </p>    
    @Html.HiddenFor(model => model.AgreementDetailDocumentUploadID)
}
