@model ExpatManager.Models.Parking
@using ExpatManager.Models
@using ExpatManager.Helper
<fieldset>
    <legend>Ceiling Table</legend>
    <div class="span-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.ParkingAmount)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ParkingPaidBy)
        </div>
    </div>
    <div class="span-6">
        <div class="editor-field">
            @Html.EditorFor(model => model.ParkingAmount)
            @Html.ValidationMessageFor(model => model.ParkingAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ParkingPaidBy)
            @Html.ValidationMessageFor(model => model.ParkingPaidBy)
        </div>
    </div>
    <div class="span-6">
        <div class="editor-label">
            @Html.LabelFor(model => model.ParkingComment)
        </div>
    </div>
    <div class="span-6">
        <div class="editor-field">
            @Html.EditorFor(model => model.ParkingComment)
            @Html.ValidationMessageFor(model => model.ParkingComment)
        </div>
    </div>
</fieldset>
