<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Screen.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.all.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.autocomplete.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EditorHookup.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/RangeDateValidator.js")" type="text/javascript"></script>
    @RenderSection("JavaScript", false)
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    Expatriate Management</h1>
            </div>
            <div id="logindisplay">
                <strong>@User.Identity.Name</strong>!
            </div>
            <div style="text-align:right">
                <a href="javascript:window.print()">
                    <img alt="Print" src="@Url.Content("~/Image/PrintButton.jpg")" width="40" /></a>
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Expatriate", "Index", "Expatriate")</li>
                    <li>@Html.ActionLink("Agent Detail", "Index", "AgentDetail")</li>
                    <li>@Html.ActionLink("Ceiling Table", "Index", "CeilingTable")</li>
                    <li>@Html.ActionLink("Report", "Report", "Home")</li>
                    <!--
                    <li>@Html.ActionLink("Agreement Detail", "Index", "AgreementDetail")</li>
                    <li>@Html.ActionLink("Agent Detail", "Index", "AgentDetail")</li>
                    
                    <li>@Html.ActionLink("Expatriate History", "Index", "ExpatriateHistory")</li>
                    <li>@Html.ActionLink("Family", "Index", "Family")</li>
                    <li>@Html.ActionLink("Landlord Bank Detail", "Index", "LandlordBankDetail")</li>
                    <li>@Html.ActionLink("Document Upload", "Index", "DocumentUpload")</li>
                    <li>@Html.ActionLink("Modified Tracker", "Index", "ModifiedTracker")</li>
                    <li>@Html.ActionLink("Person Job", "Index", "PersonJob")</li>
                    -->
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
