@model ExpatManager.Models.AgentDetail
@{
    ViewBag.Title = "Edit Agent Detail";
}
<h2>
    Edit Agent Detail</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    @Html.Partial("_EditorForControl", Model)
    @Html.Partial("~/Views/Shared/EditorTemplates/ContactControl.cshtml", Model)    
    @Html.Partial("~/Views/Shared/DisplayTemplates/CreatedAndModifiedControl.cshtml", Model)    
    @Html.HiddenFor(model => model.AgentDetailID)
    @Html.HiddenFor(model => model.ModifiedBy)
    @Html.HiddenFor(model => model.ModifiedDateTime)
    @Html.HiddenFor(model => model.CreateBy)
    @Html.HiddenFor(model => model.CreateDateTime)
    <p>
        <input type="submit" value="Save" />
    </p>    
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
